################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DependencyInjection/.vs/DependencyInjection
/DependencyInjection/bin/Debug/net6.0
/DependencyInjection/obj
/DependencyInjection/DependencyInjection.sln
/DependencyInjection/DependencyInjection.csproj
/DependencyInjection/.vs/ProjectEvaluation
/UnitTests/obj
/UnitTests/bin/Debug/net6.0
/DependencyInjection/.vs/TechFromScratch/v17
/MyClasses/obj/Debug/net6.0
/MyClasses/bin/Debug/net6.0
/MyClasses/obj
